header{
	display: flex;
	width: 100%;
	padding: 0 40px;
	border-bottom: 2px solid rgba(47, 84, 150, 1);
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

header .header_content{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	padding: 25px 0;
}



header .header_content .basic_logo{
	display: flex;
	gap: 20px;
	align-items: center;
}

header .header_content .basic_logo .logo{
	height: 40px;
	width: 110px;
	position: relative;
	cursor: pointer;
}

header .header_content .basic_logo .logo:nth-child(1){
	height: 42px;
	width: 110px;
}

header .header_content .basic_logo .logo:nth-child(2){
	height: 48px;
	width: 110px;
}

header .header_content .basic_logo .logo img{
	object-fit: contain;
}



header .header_content nav{
	display: flex;
	gap: 30px;
	align-items: center;
	height: 100%;
}

header .header_content nav .logo_home{
	height: 25px;
	width: 27px;
	position: relative;
	cursor: pointer;
}

header .header_content nav .logo_home svg path{
	fill: #2F5496;
	fill-opacity: 0.42;

	transition: all .3s ease;
}

header .header_content nav .logo_home:hover svg path{
	fill: rgba(69, 71, 187, 1);
	fill-opacity: 1;
}

header .header_content nav .links{
	display: flex;
	gap: 70px;
	align-items: center;
	width: fit-content;
	height: 100%;
	background-color: rgba(47, 84, 150, 0.42);
	border-radius: 45px;
	padding: 0 30px;
}

header .header_content nav .links .nav_link{
	display: inline-flex;
	align-items: center;
	height: 100%;
	font-family: "Raleway";
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	user-select: none;
	position: relative;
	z-index: 2;
}

header .header_content nav .links .nav_link::after{
	content: "";
	width: calc(100% + 60px);
	height: 100%;
	position: absolute;
	top: 0;
	left: -30px;
	z-index: -1;
	background-color: rgba(69, 71, 187, 1);
	border-radius: 45px;

	opacity: 0;
	transition: all .3s ease;
}

header .header_content nav .links .nav_link:hover::after{
	opacity: 1;
}

header .header_content nav .links .nav_link svg{
	width: 34px;
	height: 19px;
}



header .header_content .old_version{
	font-family: "Raleway";
	font-size: 20px;
	font-weight: 600;
	padding: 6px 30px;
	background-color: rgba(47, 84, 150, 0.42);
	border-radius: 5px;
	cursor: pointer;

	transition: all .3s ease;
}

header .header_content .old_version:hover{
	background-color: rgba(69, 71, 187, 1);
}



header .header_content .additional_info{
	display: flex;
	gap: 40px;
	align-items: center;
}


header .header_content .additional_info .logo_partner{
	position: relative;
	cursor: pointer;
}

header .header_content .additional_info .logo_partner:nth-child(1){
	height: 55px;
	width: 75px;
}

header .header_content .additional_info .logo_partner:nth-child(2){
	height: 45px;
	width: 160px;
}

header .header_content .additional_info .logo_partner img{
	height: 100%;
	object-fit: contain;
}





header .header_content_mobile{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 70px;
}


header .header_content_mobile .block_logo{
	display: flex;
	gap: 20px;
	align-items: center;
	position: relative;
	z-index: 2;
}

header .header_content_mobile .block_logo .logo{
	height: 40px;
	width: 110px;
	position: relative;
	cursor: pointer;
}

header .header_content_mobile .block_logo .logo:nth-child(1){
	height: 37px;
	width: 105px;
}

header .header_content_mobile .block_logo .logo:nth-child(2){
	height: 44px;
	width: 90px;
}

header .header_content_mobile .block_logo .logo:nth-child(3){
	height: 44px;
  	width: 80px;
}

header .header_content_mobile .block_logo .logo:nth-child(4){
	height: 50px;
	width: 135px;
}

header .header_content_mobile .block_logo .old_version{
	font-family: "Raleway";
	font-size: 16px;
	font-weight: 600;
	background-color: rgba(47, 84, 150, 0.42);
	border-radius: 5px;
	padding: 6px 20px;
	margin-left: 30px;
	cursor: pointer;

	transition: all .3s ease;
}

header .header_content_mobile .block_logo .old_version:active{
	background-color: rgba(69, 71, 187, 1);
}


header .header_content_mobile .block_burger{
	width: 38px;
	height: 32px;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

header .header_content_mobile .block_burger svg{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

header .header_content_mobile .block_burger svg path{
	fill: #4547BB;
	transition: all .3s ease;
}


header .header_content_mobile nav{
	display: flex;
	width: 100%;
	height: fit-content;
	border: 1px solid rgba(69, 71, 187, 0.51);
	border-radius: 0 0 25px 25px;
	background-color: rgba(25, 25, 51, 1);
	padding: 70px 0 30px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	box-sizing: border-box;
}

header .header_content_mobile nav .links{
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: end;
	width: 100%;
	height: 100%;
	padding: 30px 20px 0;
}

header .header_content_mobile nav .links .nav_link{
	display: inline-flex;
	align-items: center;
	justify-content: right;
	width: 100%;
	font-family: "Raleway";
	font-size: 26px;
	font-weight: 600;
	cursor: pointer;
	user-select: none;
	position: relative;
	z-index: 2;
}

header .header_content_mobile nav .links .nav_link svg{
	width: 40px;
	height: 25px;
}