.heroes_pish.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 1500px;
	padding: 0 40px;
	position: relative;
	box-sizing: border-box;
}



.heroes_pish.main h1{
	display: flex;
	justify-content: left;
	width: 100%;
}

.heroes_pish.main h1 span{
	width: fit-content;
	color: #fff;
	font-family: "Benzin";
	font-size: 48px;
	font-weight: 600;
	text-transform: uppercase;
}



.heroes_pish.main .section_content{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 1550px;
	margin-top: 80px;
	position: relative;
	z-index: 2;
}

.heroes_pish.main .section_content .upper_part{
	display: flex;
	gap: 25px;
	align-items: center;
}

.heroes_pish.main .section_content .upper_part .block_hero{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	height: 560px;
	padding: 25px 20px;
	position: relative;
	box-sizing: border-box;
}

.heroes_pish.main .section_content .upper_part .block_hero:nth-child(2){
	align-items: end;
}

.heroes_pish.main .section_content .upper_part .block_hero::before{
	content: "";
	width: 100%;
	height: 100%;
	background-image: url("/img/main/heroes_pish/block_frame_1.png");
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

.heroes_pish.main .section_content .upper_part .block_hero:nth-child(2):before{
	background-image: url("/img/main/heroes_pish/block_frame_2.png");
	background-size: contain;
	background-repeat: no-repeat;
}


.heroes_pish.main .section_content .upper_part .block_hero .block_info{
	display: flex;
	justify-content: right;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
}

.heroes_pish.main .section_content .upper_part .block_hero:nth-child(2) .block_info{
	justify-content: left;
}

.heroes_pish.main .section_content .upper_part .block_hero .block_info::before{
	content: "";
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(69, 71, 187, .6), rgba(25, 25, 51, .6));
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	mix-blend-mode: multiply;
}

.heroes_pish.main .section_content .upper_part .block_hero .block_info .text_info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
	width: 100%;
	height: 100%;
	padding: 10px 15px;
	position: relative;
	z-index: 5;
	box-sizing: border-box;
}

.heroes_pish.main .section_content .upper_part .block_hero:nth-child(2) .block_info .text_info{
	align-items: start;
}

.heroes_pish.main .section_content .upper_part .block_hero .block_info .text_info .fio{
	width: 350px;
	color: #fff;
	font-family: "Benzin";
	font-size: 26px;
	font-weight: 500;
	text-align: right;
}

.heroes_pish.main .section_content .upper_part .block_hero .block_info .text_info .description{
	width: 400px;
	color: #fff;
	font-family: "Raleway";
	font-size: 24px;
	font-weight: 600;
	text-align: right;
}

.heroes_pish.main .section_content .upper_part .block_hero:nth-child(2) .block_info .text_info .fio,
.heroes_pish.main .section_content .upper_part .block_hero:nth-child(2) .block_info .text_info .description{
	text-align: left;
}


.heroes_pish.main .section_content .upper_part .block_hero .button_learn_more{
	width: 400px;
	position: relative;
}



.heroes_pish.main .section_content .lower_part{
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
}

.heroes_pish.main .section_content .lower_part .block_hero{
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	width: 50%;
	height: 513px;
	padding: 25px 20px;
	position: relative;
	top: -45px;
	box-sizing: border-box;
}

.heroes_pish.main .section_content .lower_part .block_hero::before{
	content: "";
	width: 100%;
	height: 100%;
	background-image: url("/img/main/heroes_pish/block_frame_3.png");
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}


.heroes_pish.main .section_content .lower_part .block_hero .block_info{
	display: flex;
	justify-content: left;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
}

.heroes_pish.main .section_content .lower_part .block_hero .block_info::before{
	content: "";
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(69, 71, 187, .6), rgba(25, 25, 51, .6));
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	mix-blend-mode: multiply;
}

.heroes_pish.main .section_content .lower_part .block_hero .block_info .text_info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	width: 100%;
	height: 100%;
	padding: 10px 15px;
	position: relative;
	z-index: 5;
	box-sizing: border-box;
}

.heroes_pish.main .section_content .lower_part .block_hero .block_info .text_info .fio{
	width: 300px;
	color: #fff;
	font-family: "Benzin";
	font-size: 26px;
	font-weight: 500;
}

.heroes_pish.main .section_content .lower_part .block_hero .block_info .text_info .description{
	width: 570px;
	color: #fff;
	font-family: "Raleway";
	font-size: 24px;
	font-weight: 600;
}


.heroes_pish.main .section_content .lower_part .block_hero .button_learn_more{
	width: 400px;
	position: relative;
}



.heroes_pish.main .patterns{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}


.heroes_pish.main .patterns .pattern{
	width: 0;
	height: 0;
	position: absolute;
}

.heroes_pish.main .patterns .pattern img{
	object-fit: contain;
}


.heroes_pish.main .patterns .pattern:nth-child(1){
	width: 1800px;
	height: 1800px;
	bottom: -500px;
	left: -400px;
	z-index: 1;
	opacity: 0.5;

	animation: fade-transform-3 4s ease-in-out 0s infinite;
}

@keyframes fade-transform-3 {
	0% { transform: scale(1); opacity: 0.5; }
	40% { transform: scale(1.3); opacity: 0.8; }
	80% { transform: scale(1); opacity: 0.5; }
	100% { transform: scale(1); opacity: 0.5; }
}





.heroes_pish.mobile{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 1600px;
	padding: 0 40px;
	position: relative;
	box-sizing: border-box;
}




.heroes_pish.mobile h1{
	width: 100%;
}

.heroes_pish.mobile h1 span{
	display: inline-flex;
	width: 300px;
	color: #fff;
	font-family: "Benzin";
	font-size: 48px;
	font-weight: 600;
	text-transform: uppercase;
}




.heroes_pish.mobile .section_content{
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 750px;
	margin-top: 60px;
	position: relative;
	z-index: 2;
}

.heroes_pish.mobile .section_content .block_hero{
	display: flex;
	align-items: start;
	gap: 30px;
	width: 100%;
	height: 380px;
	padding: 25px 20px;
	background: url("/img/main/heroes_pish/block_frame_1_mobile.svg");
	background-size: contain;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

.heroes_pish.mobile .section_content .block_hero._reverse{
	gap: 20px;
	padding: 15px 20px 25px;
	background: url("/img/main/heroes_pish/block_frame_2_mobile.svg");
	background-size: contain;
	background-repeat: no-repeat;
}



.heroes_pish.mobile .section_content .block_hero .block_img{
	width: 315px;
	min-width: 315px;
	height: 315px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.heroes_pish.mobile .section_content .block_hero._reverse .block_img{
	margin-top: auto;
}



.heroes_pish.mobile .section_content .block_hero .block_info{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	height: 100%;
	position: relative;
}

.heroes_pish.mobile .section_content .block_hero._reverse .block_info{
	align-items: end;
	width: 100%;
}


.heroes_pish.mobile .section_content .block_hero .block_info .fio{
	width: 100%;
	color: #fff;
	font-family: "Benzin";
	font-size: 26px;
	font-weight: 500;
}

.heroes_pish.mobile .section_content .block_hero._reverse .block_info .fio{
	width: 200px;
	text-align: right;
}


.heroes_pish.mobile .section_content .block_hero .block_info .description{
	width: 100%;
	color: #fff;
	font-family: "Raleway";
	font-size: 24px;
	font-weight: 600;
}

.heroes_pish.mobile .section_content .block_hero._reverse .block_info .description{
	width: 370px;
	text-align: right;
}

.heroes_pish.mobile .section_content .block_hero .block_info .description span{
	color: #03D75C;
}


.heroes_pish.mobile .section_content .block_hero .block_info .button_learn_more{
	width: 340px;
	top: auto;
	bottom: 0;
}

.heroes_pish.mobile .section_content .block_hero._reverse .block_info .button_learn_more{
	left: auto;
	right: 0;
}