@media only screen and (max-width : 1100px){
	.block_phone .button_exit {
		width: 45px;
		height: 45px;
		top: 25px;
		right: 25px;
	}

	.block_phone .button_exit svg {
		width: 30px;
		height: 30px;
	}
}

@media only screen and (max-width : 1000px){
	.block_phone .block_phone__container .block_tip p{
		font-size: 20px;
	}


	.block_phone .block_phone__container .block_controls button{
		width: 80px;
		height: 80px;
	}

	.block_phone .block_phone__container .block_controls button svg{
		width: 40px;
		height: 35px;
	}
}

@media only screen and (max-width : 760px){
	.block_phone .block_phone__container .block_tip{
		top: 60px;
		left: 10px;
		padding: 10px 20px;
		border-radius: 5px;
	}
	
	.block_phone .block_phone__container .block_tip p{
		font-size: 16px;
	}



	.block_phone .block_phone__container .block_controls{
		gap: 20px;
		bottom: 30px;
		right: 30px;
	}

	.block_phone .block_phone__container .block_controls button{
		width: 70px;
		height: 70px;
	}

	.block_phone .block_phone__container .block_controls button svg{
		width: 35px;
		height: 30px;
	}



	.block_phone .button_exit {
		width: 42px;
		height: 42px;
		top: 25px;
		right: 25px;
	}

	.block_phone .button_exit svg {
		width: 27px;
		height: 27px;
	}
}

@media only screen and (max-width : 600px){
	.block_phone .button_exit {
		width: 37px;
		height: 37px;
		top: 20px;
		right: 20px;
	}

	.block_phone .button_exit svg {
		width: 22px;
		height: 22px;
	}
}

@media only screen and (max-width : 500px){
	.block_phone .block_phone__container .block_tip{
		width: calc(100% - 20px);
	}

	.block_phone .block_phone__container .block_tip p{
		font-size: 16px;
	}



	.block_phone .block_phone__container .block_controls{
		gap: 15px;
		bottom: 20px;
		right: 20px;
	}

	.block_phone .block_phone__container .block_controls button{
		width: 50px;
		height: 50px;
	}

	.block_phone .block_phone__container .block_controls button svg{
		width: 25px;
		height: 20px;
	}



	.block_phone .button_exit {
		width: 32px;
		height: 32px;
		border-radius: 7px;
		top: 15px;
		right: 15px;
	}

	.block_phone .button_exit svg {
		width: 19px;
		height: 19px;
	}
}

@media only screen and (max-width : 400px){
	.block_phone .block_phone__container .block_tip p{
		font-size: 14px;
	}


	.block_phone .button_exit{
		width: 28px;
		height: 28px;
	}

	.block_phone .button_exit svg{
		width: 18px;
		height: 18px;
	}
}

@media only screen and (max-width : 360px){
	.block_phone .block_phone__container .block_tip p{
		font-size: 12px;
	}


	.block_phone .block_phone__container .block_controls button{
		width: 45px;
		height: 45px;
	}

	.block_phone .block_phone__container .block_controls button svg{
		width: 22px;
		height: 18px;
	}
}