.block_phone .block_swiper .swiper-slide[data-slide="3"] .block_exhibit{
	width: 100%;
	height: 600px;
	top: 170px;
	left: 0;
}



@media only screen and (max-width : 500px) and (min-height : 880px){
	.block_phone .block_swiper .swiper-slide[data-slide="3"] .slide_video_container{
		width: 550px;
		left: -25px;
	}
	
	.block_phone .block_swiper .swiper-slide[data-slide="3"] .block_exhibit{
		height: 670px;
		top: 190px;
		left: 0;
	}
}


@media only screen and (max-width : 460px){
	.block_phone .block_swiper .swiper-slide[data-slide="3"] .slide_video_container{
		width: 460px;
	}

	.block_phone .block_swiper .swiper-slide[data-slide="3"] .block_exhibit{
		height: 580px;
		top: 160px;
	}
}

@media only screen and (max-width : 460px) and (min-height : 800px){
	.block_phone .block_swiper .swiper-slide[data-slide="3"] .slide_video_container{
		width: 510px;
		left: -25px;
	}

	.block_phone .block_swiper .swiper-slide[data-slide="3"] .block_exhibit{
		height: 620px;
		top: 180px;
	}
}

@media only screen and (max-width : 460px) and (min-height : 900px){
	.block_phone .block_swiper .swiper-slide[data-slide="3"] .slide_video_container{
		width: 540px;
		left: -40px;
	}

	.block_phone .block_swiper .swiper-slide[data-slide="3"] .block_exhibit{
		height: 650px;
		top: 190px;
	}
}


@media only screen and (max-width : 420px){
	.block_phone .block_swiper .swiper-slide[data-slide="3"] .slide_video_container{
		width: 420px;
	}

	.block_phone .block_swiper .swiper-slide[data-slide="3"] .block_exhibit{
		height: 520px;
		top: 145px;
	}
}

@media only screen and (max-width : 420px) and (min-height : 740px){
	.block_phone .block_swiper .swiper-slide[data-slide="3"] .slide_video_container{
		width: 470px;
		left: -25px;
	}

	.block_phone .block_swiper .swiper-slide[data-slide="3"] .block_exhibit{
		height: 580px;
		top: 165px;
	}
}

@media only screen and (max-width : 420px) and (min-height : 830px){
	.block_phone .block_swiper .swiper-slide[data-slide="3"] .slide_video_container{
		width: 510px;
		left: -45px;
	}

	.block_phone .block_swiper .swiper-slide[data-slide="3"] .block_exhibit{
		height: 620px;
		top: 175px;
	}
}


@media only screen and (max-width : 380px){
	.block_phone .block_swiper .swiper-slide[data-slide="3"] .slide_video_container{
		width: 380px;
	}

	.block_phone .block_swiper .swiper-slide[data-slide="3"] .block_exhibit{
		height: 460px;
		top: 135px;
	}
}

@media only screen and (max-width : 380px) and (min-height : 670px){
	.block_phone .block_swiper .swiper-slide[data-slide="3"] .slide_video_container{
		width: 430px;
		left: -25px;
	}

	.block_phone .block_swiper .swiper-slide[data-slide="3"] .block_exhibit{
		height: 520px;
		top: 155px;
	}
}

@media only screen and (max-width : 380px) and (min-height : 750px){
	.block_phone .block_swiper .swiper-slide[data-slide="3"] .slide_video_container{
		width: 460px;
		left: -40px;
	}

	.block_phone .block_swiper .swiper-slide[data-slide="3"] .block_exhibit{
		height: 560px;
		top: 160px;
	}
}