.about_museum.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 1170px;
	padding: 0 40px;
	margin-bottom: 150px;
	position: relative;
	box-sizing: border-box;
}



.about_museum.main h1{
	display: flex;
	justify-content: left;
	width: 100%;
}

.about_museum.main h1 span{
	width: fit-content;
	color: #fff;
	font-family: "Benzin";
	font-size: 52px;
	font-weight: 600;
	text-transform: uppercase;
}



.about_museum.main .section_content{
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 1550px;
	height: 100%;
	position: relative;
	z-index: 2;
}

.about_museum.main .section_content .upper_part{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}


.about_museum.main .section_content .upper_part .block_imgs{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.about_museum.main .section_content .upper_part .block_imgs .block_img:nth-child(1){
	width: 560px;
	height: 440px;
	position: relative;
	top: 40px;
}

.about_museum.main .section_content .upper_part .block_imgs .block_img:nth-child(1) img._img_hover{
	opacity: 1;
	transition: all .3s ease;
}

.about_museum.main .section_content .upper_part .block_imgs .block_img:nth-child(1):hover img._img_hover{
	opacity: 0;
}

.about_museum.main .section_content .upper_part .block_imgs .block_img:nth-child(2){
	width: 860px;
	height: 420px;
	position: relative;
	top: -75px;
}

.about_museum.main .section_content .upper_part .block_imgs .block_img:nth-child(2) img._img_hover{
	opacity: 1;
	transition: all .3s ease;
}

.about_museum.main .section_content .upper_part .block_imgs .block_img:nth-child(2):hover img._img_hover{
	opacity: 0;
}



.about_museum.main .section_content .upper_part .block_info{
	display: flex;
	width: 100%;
}

.about_museum.main .section_content .upper_part .block_info .text_container{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 750px;
	margin-left: 330px;
}

.about_museum.main .upper_part h3{
	width: fit-content;
	color: #fff;
	font-family: "Benzin";
	font-size: 34px;
	font-weight: 400;
	text-transform: uppercase;
}

.about_museum.main .upper_part p{
	width: 100%;
	color: #fff;
	font-family: "Raleway";
	font-size: 26px;
	font-weight: 400;
}

.about_museum.main .lower_part{
	display: flex;
	gap: 30px;
	width: 100%;
}

.about_museum.main .lower_part p{
	width: 650px;
	min-width: 650px;
	color: #fff;
	font-family: "Raleway";
	font-size: 26px;
	font-weight: 400;
}

.about_museum.main .lower_part .block_img{
	width: 100%;
	height: 470px;
	position: relative;
	top: -30px;
}

.about_museum.main .lower_part .block_img:nth-child(2) img._img_hover{
	opacity: 1;
	transition: all .3s ease;
}

.about_museum.main .lower_part .block_img:nth-child(2):hover img._img_hover{
	opacity: 0;
}



.about_museum.main .section_content .button_visit{
	top: auto;
	bottom: 30px;
	left: 200px;
}



.about_museum.main .patterns{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}


.about_museum.main .patterns .pattern{
	width: 0;
	height: 0;
	position: absolute;
}

.about_museum.main .patterns .pattern img{
	object-fit: contain;
}


.about_museum.main .patterns .pattern:nth-child(1){
	width: 1500px;
	height: 1500px;
	top: -400px;
	right: -100px;
	opacity: 0.5;

	animation: 
		fade-opacity-2 3s ease-in-out 0s infinite,
		fade-transform-2 8s ease-in-out 0s infinite;
}

@keyframes fade-opacity-2 {
	0% { opacity: 0.5; }
	40% { opacity: 0.8; }
	80% { opacity: 0.5; }
	100% { opacity: 0.5; }
}

@keyframes fade-transform-2 {
	0% { transform: translateX(0); }
	20% { transform: translateX(-750px); }
	50% { transform: translateX(-750px); }
	70% { transform: translateX(0); }
	100% { transform: translateX(0); }
}





.about_museum.mobile{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: fit-content;
	padding: 100px 40px 0;
	margin-bottom: 150px;
	position: relative;
	box-sizing: border-box;
}



.about_museum.mobile h1{
	width: 100%;
	color: #fff;
	font-family: "Benzin";
	font-size: 48px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: left;
}



.about_museum.mobile .section_content{
	display: flex;
	flex-direction: column;
	width: 750px;
	height: 100%;
	position: relative;
	z-index: 2;
}



.about_museum.mobile .upper_part{
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
	margin-bottom: 30px;
}


.about_museum.mobile .upper_part .block_imgs{
	width: 100%;
	height: 350px;
	position: relative;
	top: 40px;
}

.about_museum.mobile .upper_part .block_imgs img{
	width: 100%;
	object-fit: contain;
}


.about_museum.mobile .section_content .upper_part .block_text{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.about_museum.mobile .upper_part h3{
	width: fit-content;
	color: #fff;
	font-family: "Benzin";
	font-size: 34px;
	font-weight: 400;
	text-transform: uppercase;
	margin-left: auto;
}

.about_museum.mobile .upper_part p{
	width: 600px;
	color: #fff;
	font-family: "Raleway";
	font-size: 26px;
	font-weight: 400;
}



.about_museum.mobile .lower_part{
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
	margin-bottom: 40px;
}


.about_museum.mobile .lower_part .block_img{
	width: 100%;
	height: 330px;
	position: relative;
	top: -30px;
}

.about_museum.mobile .lower_part .block_img img{
	width: 100%;
	object-fit: contain;
}


.about_museum.mobile .lower_part p{
	width: 650px;
	color: #fff;
	font-family: "Raleway";
	font-size: 26px;
	font-weight: 400;
}



.about_museum.mobile .section_content .button_visit{
	margin: 0 auto;
	position: relative;
	top: auto;
	left: auto;
}



.about_museum.mobile .patterns{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}


.about_museum.mobile .patterns .pattern{
	width: 0;
	height: 0;
	position: absolute;
}

.about_museum.mobile .patterns .pattern img{
	object-fit: contain;
}


.about_museum.mobile .patterns .pattern:nth-child(1){
	width: 1500px;
	height: 1500px;
	bottom: -600px;
	right: -400px;
	opacity: 0.5;

	animation: fade-transform-2-mobile 4s ease-in-out 0s infinite;
}

@keyframes fade-transform-2-mobile {
	0% { transform: scale(1); opacity: 0.5; }
	40% { transform: scale(1.2); opacity: 0.8; }
	80% { transform: scale(1); opacity: 0.5; }
	100% { transform: scale(1); opacity: 0.5; }
}