@media only screen and (max-width : 2000px) and (max-height : 650px){
    .popup_welcome .popup_content {
        width: 500px;
        height: 500px;
        padding: 0 40px;
    }

    .popup_welcome .popup_content .block_content .block_text h1 {
        font-size: 26px;
        line-height: 35px;
    }

    .popup_welcome .popup_content .block_content .visit_button {
        padding: 12px 35px;
        font-size: 16px;
    }
}


@media only screen and (max-width : 1600px){
    .popup_welcome .popup_content {
        width: 500px;
        height: 550px;
        padding: 0 40px;
    }

    .popup_welcome .popup_content .block_content .block_text h1 {
        font-size: 26px;
        line-height: 35px;
    }

    .popup_welcome .popup_content .block_content .visit_button {
        padding: 12px 35px;
        font-size: 16px;
    }
}

@media only screen and (max-width : 1600px) and (max-height : 600px){
    .popup_welcome .popup_content {
        width: 450px;
        height: 450px;
        padding: 0 40px;
    }

    .popup_welcome .popup_content .block_content .block_text h1 {
        font-size: 24px;
        line-height: 35px;
    }

    .popup_welcome .popup_content .block_content .visit_button {
        padding: 10px 30px;
        font-size: 15px;
    }
}



@media only screen and (max-width : 600px) {
    .popup_welcome .popup_content {
        width: 450px;
        height: 520px;
        padding: 0 40px;
    }

    .popup_welcome .popup_content .block_content .block_text h1 {
        font-size: 24px;
        line-height: 35px;
    }

    .popup_welcome .popup_content .block_content .visit_button {
        padding: 12px 35px;
        font-size: 16px;
    }
}


@media only screen and (max-width : 500px) {
    .popup_welcome .popup_content {
        width: 400px;
        height: 470px;
        padding: 0 40px;
    }

    .popup_welcome .popup_content .block_content .block_text h1 {
        font-size: 20px;
        line-height: 30px;
    }

    .popup_welcome .popup_content .block_content .visit_button {
        padding: 10px 30px;
        font-size: 15px;
    }
}


@media only screen and (max-width : 450px) {
    .popup_welcome .popup_content {
        width: 350px;
        height: 420px;
        padding: 0 30px;
    }

    .popup_welcome .popup_content .block_content .block_text h1 {
        font-size: 18px;
        line-height: 30px;
    }

    .popup_welcome .popup_content .block_content .visit_button {
        padding: 10px 25px;
        font-size: 14px;
    }
}


@media only screen and (max-width : 400px) {
    .popup_welcome .popup_content {
        width: 300px;
        height: 370px;
        padding: 0 20px;
    }

    .popup_welcome .popup_content .block_content .block_text h1 {
        font-size: 16px;
        line-height: 25px;
    }

    .popup_welcome .popup_content .block_content .visit_button {
        padding: 8px 20px;
        font-size: 13px;
    }
}