@media only screen and (min-width : 2000px){
	.video_container {
		height: calc(100vh - 100px);
	}
}

@media only screen and (max-width : 1800px){
	.video_container {
		height: calc(100vh - 60px);
	}
}

@media only screen and (max-width : 1600px){
    .video_container .top_title {
        height: 55px;
        padding: 0 20px;
    }

    .video_container .top_title .title_text {
        font-size: 16px;
    }
}

@media only screen and (max-width : 1400px){
    .video_container .top_title {
        height: 50px;
        padding: 0 15px;
    }

    .video_container .top_title .title_text {
        font-size: 14px;
    }
}

@media only screen and (max-width : 1200px){
    .video_container .top_title {
        height: 45px;
    }

    .video_container .top_title .title_text {
        font-size: 13px;
    }
}

@media only screen and (max-width : 1000px){
    .video_container .top_title {
        height: 40px;
        padding: 0 10px;
    }

    .video_container .top_title .title_text {
        font-size: 12px;
    }
}