.popup_hero{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	transition: all .3s ease;
}

.popup_hero._hidden{
	opacity: 0;
}



.popup_hero .popup_blackout{
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, .8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}



.popup_hero .button_exit{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border: 2px solid #75758500;
	border-radius: 10px;
	background-color: #ffffff00;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 100;
	cursor: pointer;

	transition: all .3s ease;
}

.popup_hero .button_exit:hover{
	border: 2px solid #757585;
	background-color: #fff;
}

.popup_hero .button_exit svg{
	width: 20px;
	height: 20px;
}

.popup_hero .button_exit svg line{
	stroke: #fff;
	stroke-width: 10px;

	transition: all .3s ease;
}

.popup_hero .button_exit:hover svg line{
	stroke: #757585;
}



.popup_hero .popup_content{
	display: flex;
	align-items: center;
	justify-content: center;
	/* width: 1110px;
	min-height: 480px;
	max-height: 100vh; */
	width: 90% !important;
	height: 90vh !important;
	/* border: 4px solid #4547bb8e; */
	border-radius: 15px;
	/* background-color: #191933; */
	padding: 0 !important;
	position: absolute;
	z-index: 2;
	box-sizing: border-box;
	overflow: hidden;
}

/* .popup_hero .popup_content video{
	width: 100%;
	height: 100%;
	object-fit: contain;
} */


.popup_hero .popup_content img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}


.popup_hero .popup_content .block_info{
	display: flex;
	gap: 30px;
	position: relative;
	z-index: 2;
}

.popup_hero .popup_content .block_info .block_img{
	width: 400px;
	min-width: 400px;
	height: 400px;
	border-radius: 15px;
	background: linear-gradient(rgba(103, 104, 139, 1), rgb(55, 56, 74));
}

.popup_hero .popup_content .block_info .block_text{
	display: flex;
	flex-direction: column;
}

.popup_hero .popup_content .block_info .block_text h3{
	width: 400px;
	color: #fff;
	font-size: 30px;
	font-family: 'Benzin';
	font-weight: 400;
	margin-bottom: 40px;
}

.popup_hero .popup_content .block_info .block_text p{
	columns: #fff;
	font-size: 20px;
	font-family: 'Raleway';
	font-weight: 400;
}