.video_biotech{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: rgba(25, 25, 51, 1);
	position: relative;
	overflow-x: hidden;
}

.video_biotech main{
	width: 100vw;
	height: 100%;
	margin-top: 110px;
	position: relative;
	z-index: 2;
}

.video_biotech main .video_content{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: fit-content;
	padding: 40px 40px 150px;
	box-sizing: border-box;
}



.video_biotech main .video_content h1{
	width: 100%;
	color: #fff;
	font-size: 64px;
	font-family: "Benzin";
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 150px;
}



.video_biotech main .list_video{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  	gap: 100px 40px;
	width: 100%;
	height: fit-content;
	box-sizing: border-box;
}

.video_biotech main .list_video .block_video .video_cover{
	height: 340px;
}