@media only screen and (min-width : 2000px){
	.video_biotech main{
		margin-top: 125px;
	}


	.video_biotech main .list_video{
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	}

	.video_biotech main .list_video .block_video .video_cover{
		height: 380px;
	}


	.video_biotech main .video_content{
		padding: 50px 40px 150px;
	}
}

@media only screen and (max-width : 1800px){
	.video_biotech main{
		margin-top: 100px;
	}


	.video_biotech main .list_video{
		grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
		gap: 100px 20px;
	}

	.video_biotech main .list_video .block_video .video_cover{
		height: 320px;
	}



	.video_biotech main .video_content{
		padding: 30px 40px 150px;
	}
}

@media only screen and (max-width : 1600px){
	.video_biotech main .list_video{
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	}

	.video_biotech main .list_video .block_video .video_cover{
		height: 300px;
	}
}

@media only screen and (max-width : 1300px){
	.video_biotech main .list_video{
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	}

	.video_biotech main .list_video .block_video .video_cover{
		height: 270px;
	}
}

@media only screen and (max-width : 1200px){
	.video_biotech main .list_video{
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	}

	.video_biotech main .list_video .block_video .video_cover{
		height: 240px;
	}
}

@media only screen and (max-width : 1100px){
	.video_biotech main {
        margin-top: 75px;
    }


	.video_biotech main .video_content {
        padding: 30px 0 150px;
    }

	.video_biotech main .video_content h1 {
		font-size: 60px;
	}


	.video_biotech main .video_container {
		height: 600px;
		min-width: auto;
		min-height: auto;
	}


	.video_biotech main .list_video {
		padding: 0 40px;
	}

	.video_biotech main .list_video .block_video .video_cover{
		height: 320px;
	}
}

@media only screen and (max-width : 1000px){
	.video_biotech main .list_video .block_video .video_cover{
		height: 300px;
	}
}

@media only screen and (max-width : 900px){
	.video_biotech main .video_container {
		height: 500px;
		border-radius: 10px;
	}


	.video_biotech main .list_video {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}

	.video_biotech main .list_video .block_video .video_cover{
		height: 260px;
	}
}

@media only screen and (max-width : 800px){
	.video_biotech main .video_content h1 {
		width: 550px;
		font-size: 55px;
		margin-bottom: 100px;
	}

	.video_biotech main .video_container {
		height: 400px;
		border-radius: 10px;
	}


	.video_biotech main .list_video {
		width: 500px;
		margin: 0 auto;
	}

	.video_biotech main .list_video .block_video .video_cover{
		height: 340px;
	}
}

@media only screen and (max-width : 700px){
	.video_biotech main {
        margin-top: 60px;
    }


	.video_biotech main .video_content {
		padding: 60px 0 50px;
	}

	.video_biotech main .video_content h1 {
		width: 500px;
		font-size: 50px;
	}

	.video_biotech main .list_video {
		width: 500px;
		padding: 0;
		margin: 0 auto;
	}
}

@media only screen and (max-width : 600px){
	.video_biotech main .video_content {
		padding: 40px 0 50px;
	}

	.video_biotech main .video_content h1 {
		width: 450px;
		font-size: 45px;
		margin-bottom: 70px;
	}


	.video_biotech main .video_container {
		height: 300px;
		border-radius: 10px;
	}


	.video_biotech main .list_video {
		width: 420px;
		margin: 0 auto;
	}

	.video_biotech main .list_video .block_video .video_cover{
		height: 290px;
	}
}

@media only screen and (max-width : 500px){
	.video_biotech main {
        margin-top: 52px;
    }


	
	.video_biotech main .video_content h1 {
		width: 400px;
		font-size: 38px;
		margin-bottom: 50px;
	}



	.video_biotech main .video_container {
		height: 270px;
		border-radius: 10px;
	}
	


	.video_biotech main .list_video {
		gap: 70px 20px;
		width: 360px;
		margin: 0 auto;
	}

	.video_biotech main .list_video .block_video .video_cover{
		height: 250px;
		border-radius: 10px;
	}


	.video_biotech main .block_video .video_info h4 {
		font-size: 20px;
	}

	.video_biotech main .block_video .video_info p {
		font-size: 18px;
	}
}

@media only screen and (max-width : 400px){
	.video_biotech main .video_content {
		padding: 40px 0 0px;
	}

	.video_biotech main .video_content h1 {
		width: 350px;
		font-size: 34px;
		margin-bottom: 50px;
	}



	.video_biotech main .video_container {
		height: 250px;
		border-radius: 10px;
	}



	.video_biotech main .list_video {
		gap: 70px 20px;
		width: 300px;
		margin: 0 auto;
	}

	.video_biotech main .list_video .block_video .video_cover{
		height: 205px;
	}


	.video_biotech main .block_video .video_cover {
		height: 200px;
		border-radius: 10px;
	}

	.video_biotech main .block_video .video_info h4 {
		font-size: 18px;
	}

	.video_biotech main .block_video .video_info p {
		font-size: 16px;
	}
}