.widget_window.genes .level_one .welcome_part{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .7s ease;
}

.widget_window.genes .level_one .welcome_part._hidden{
	opacity: 0;
	pointer-events: none;
}




.widget_window.genes .level_one .welcome_part .welcome_content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .7s ease;
}

.widget_window.genes .level_one .welcome_part .welcome_content._hidden {
	opacity: 0;
	pointer-events: none;
}



.widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
	width: 2000px;
	height: 900px;
	position: absolute;
	top: 0;
	pointer-events: none;
}


.widget_window.genes .level_one .welcome_part .welcome_content .block_hints{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	pointer-events: none;
}

.widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
	width: 280px;
	height: 65px;
	position: absolute;
	top: 100px;
	right: 250px;
	opacity: 0;
	animation: hint1Animation 6s infinite;
}

.widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
	width: 500px;
	height: 65px;
	position: absolute;
	top: 640px;
	left: 120px;
	opacity: 0;
	animation: hint2Animation 6s infinite;
}

@keyframes hint1Animation {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	20% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes hint2Animation {
	0% {
		opacity: 0;
	}
	35% {
		opacity: 0;
	}
	45% {
		opacity: 1;
	}
	55% {
		opacity: 1;
	}
	65% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}



.widget_window.genes .level_one .welcome_part .welcome_content .block_button{
	display: flex;
	align-items: center;
	width: 600px;
	height: 60px;
	position: absolute;
	bottom: 60px;
	transition: all .7s ease;
}

.widget_window.genes .level_one .welcome_part .welcome_content .block_button button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 40px;
	background: linear-gradient(90deg, #737AFF, #07b4cb);
	position: absolute;
	cursor: pointer;
	transition: all .2s ease;
}

.widget_window.genes .level_one .welcome_part .welcome_content .block_button:hover button{
	transform: scale(1.05);
}

.widget_window.genes .level_one .welcome_part .welcome_content .block_button button::before{
	content: "";
	width: 102%;
	height: 122%;
	border: 1px solid #5C61CB;
	border-radius: 50px;
	position: absolute;
	transition: all .2s ease;
}

.widget_window.genes .level_one .welcome_part .welcome_content .block_button:hover button::before{
	width: 100%;
	height: 100%;
}

.widget_window.genes .level_one .welcome_part .welcome_content .block_button button .text{
	font-size: 25px;
	font-family: "Eimantas";
	font-weight: 700;
	text-transform: uppercase;
}

.widget_window.genes .level_one .welcome_part .welcome_content .block_button button .icon{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background: linear-gradient(90deg, #5861F4, #5861F4);
	border-radius: 50%;
	position: absolute;
	left: 5px;
	z-index: 2;
}

.widget_window.genes .level_one .welcome_part .welcome_content .block_button button .icon svg{
	width: 35px;
	height: 35px;
}



.widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen{
	display: flex;
	width: 630px;
	height: 205px;
	position: absolute;
	bottom: 30px;
	transition: all .7s ease;
}

.widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen._hidden{
	opacity: 0;
	pointer-events: none;
}

.widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 205px;
	position: absolute;
	cursor: pointer;
	transition: all 1s ease;
}

.widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen button:nth-child(1){
	position: absolute;
	top: 0;
	left: -150px;
	opacity: 0;
}

.widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen._active button:nth-child(1){
	left: 0;
	opacity: 1;
}

.widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen button:nth-child(2){
	position: absolute;
	top: 0;
	right: -150px;
	opacity: 0;
}

.widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen._active button:nth-child(2){
	right: 0;
	opacity: 1;
}

.widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen button img{
	opacity: 0.6;
	transition: all .3s ease;
}

.widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen button:hover img{
	opacity: 1;
}




.widget_window.genes .level_one .welcome_part .block_open_level{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .7s ease;
}

.widget_window.genes .level_one .welcome_part .block_open_level._hidden{
	opacity: 0;
	pointer-events: none;
}

.widget_window.genes .level_one .welcome_part .block_open_level .bg_rnk{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

.widget_window.genes .level_one .welcome_part .block_open_level .window_open_level{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 730px;
	height: 330px;
	border: 1px solid #19c9ff;
	border-radius: 20px;
	background: linear-gradient(90deg, #5860f4f1, #272a71f1);
	position: absolute;
	z-index: 2;
}

.widget_window.genes .level_one .welcome_part .block_open_level .window_open_level p{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 50px;
	border-radius: 30px;
	background: linear-gradient(90deg, #c924c6, #e217de);
	position: absolute;
	top: 90px;
	left: calc(50% - 125px);
	animation: slideFromRight 2.3s ease-out forwards;
	animation-delay: 0.5s;
	opacity: 0;
	transform: translateX(0);
}

.widget_window.genes .level_one .welcome_part .block_open_level .window_open_level p::before{
	content: "";
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #e4ac04;
	position: absolute;
	left: 5px;
}

.widget_window.genes .level_one .welcome_part .block_open_level .window_open_level p span{
	font-size: 22px;
	font-family: "Roboto";
	font-weight: 900;
	text-transform: uppercase;
	margin-left: 13px;
}

.widget_window.genes .level_one .welcome_part .block_open_level .window_open_level h1{
	width: 480px;
	font-size: 58px;
	font-family: "Roboto";
	font-weight: 900;
	letter-spacing: 3px;
	text-transform: uppercase;
	position: absolute;
	bottom: 90px;
	left: calc(50% - 240px);
	animation: slideFromLeft 2.3s ease-out forwards;
	animation-delay: 0.5s;

	opacity: 0;
	transform: translateX(0);
}

@keyframes slideFromRight {
	0% {
		opacity: 0;
		transform: translateX(120px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideFromLeft {
	0% {
		opacity: 0;
		transform: translateX(-120px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}