@media only screen and (max-width : 2000px) and (max-height : 900px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen {
        top: -80px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1) {
        top: 50px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2) {
        top: 530px;
    }
}

@media only screen and (max-width : 2000px) and (max-height : 820px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen {
        top: -150px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1) {
        top: 450px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2) {
        top: 450px;
    }
}


@media only screen and (max-width : 1900px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        left: 70px;
    }
}


@media only screen and (max-width : 1800px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
	    width: 1800px;
        height: 850px;
        top: 0;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1) {
        right: 150px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2) {
        top: 540px;
    }
}

@media only screen and (max-width : 1800px) and (max-height : 900px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: -70px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1) {
        top: 40px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2) {
        top: 460px;
    }
}

@media only screen and (max-width : 1800px) and (max-height : 800px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: -100px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1) {
        width: 250px;
        height: 58px;
        top: 430px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2) {
        width: 450px;
        height: 58px;
        top: 430px;
    }
}


@media only screen and (max-width : 1600px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
	    width: 1600px;
        height: 800px;
        top: 0;
    }


    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
        width: 250px;
        height: 58px;
        top: 60px;
        right: 150px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        width: 450px;
        height: 58px;
        top: 490px;
        left: 60px;
    }



    .widget_window.genes .level_one .welcome_part .welcome_content .block_button{
        width: 500px;
        height: 50px;
        bottom: 60px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .text{
	    font-size: 20px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .icon{
        width: 43px;
        height: 43px;
        left: 5px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .icon svg{
        width: 30px;
        height: 30px;
    }



    .widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen{
        width: 530px;
        height: 175px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen button{
        width: 255px;
        height: 174px;
    }
}

@media only screen and (max-width : 1600px) and (max-height : 800px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: -50px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1) {
        top: 40px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2) {
        top: 425px;
    }
}

@media only screen and (max-width : 1600px) and (max-height : 700px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: -120px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1) {
        top: 350px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2) {
        top: 350px;
    }
}

@media only screen and (max-width : 1600px) and (max-height : 650px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: -180px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1) {
        top: 300px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2) {
        top: 300px;
    }
}


@media only screen and (max-width : 1400px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
	    width: 1400px;
        height: 750px;
        top: 0;
    }


    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
        width: 220px;
        height: 51px;
        top: 50px;
        right: 150px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        width: 400px;
        height: 51px;
        top: 430px;
        left: 60px;
    }



    .widget_window.genes .level_one .welcome_part .welcome_content .block_button{
        width: 450px;
        height: 42px;
        bottom: 40px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .text{
	    font-size: 18px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .icon{
        width: 36px;
        height: 36px;
        left: 4px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .icon svg{
        width: 25px;
        height: 25px;
    }
}

@media only screen and (max-width : 1400px) and (max-height : 720px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: -50px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1) {
        top: 20px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2) {
        top: 360px;
    }
}

@media only screen and (max-width : 1400px) and (max-height : 650px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: -90px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1) {
        top: 320px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2) {
        top: 320px;
    }
}

@media only screen and (max-width : 1400px) and (max-height : 600px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: -150px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1) {
        top: 250px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2) {
        top: 255px;
    }
}


@media only screen and (max-width : 1200px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
	    width: 1200px;
        height: 700px;
        top: 30px;
    }


    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
        width: 200px;
        height: 46px;
        top: 60px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        width: 360px;
        height: 46px;
        top: 430px;
        left: 60px;
    }
}

@media only screen and (max-width : 1200px) and (max-height : 720px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: -50px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1) {
        top: 325px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2) {
        top: 325px;
    }
}

@media only screen and (max-width : 1200px) and (max-height : 600px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: -100px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1) {
        top: 275px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2) {
        top: 275px;
    }
}

@media only screen and (max-width : 1200px) and (max-height : 550px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: -150px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1) {
        top: 225px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2) {
        top: 225px;
    }
}


@media only screen and (max-width : 1100px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
	    width: 1100px;
        height: 650px;
        top: 400px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
        width: 250px;
        height: 56px;
        top: 780px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        width: 430px;
        height: 56px;
        top: 400px;
        left: 60px;
    }



    .widget_window.genes .level_one .welcome_part .welcome_content .block_button{
        width: 500px;
        height: 48px;
        bottom: 40px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .text{
	    font-size: 21px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .icon{
        width: 40px;
        height: 40px;
        left: 4px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .icon svg{
        width: 27px;
        height: 27px;
    }
}

@media only screen and (max-width : 1100px) and (max-height : 1100px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: 330px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
        top: 700px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        top: 340px;
    }
}

@media only screen and (max-width : 1100px) and (max-height : 1000px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: 280px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
        top: 645px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        top: 250px;
    }
}



@media only screen and (max-width : 900px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
	    width: 900px;
        height: 600px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
        right: 30px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        left: 30px;
    }



    .widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen {
        width: 485px;
        height: 157px;
    }
    
    .widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen button {
        width: 230px;
        height: 157px;
    }
}

@media only screen and (max-width : 900px) and (max-height : 900px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: 230px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
        top: 570px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        top: 230px;
    }
}


@media only screen and (max-width : 700px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
	    width: 700px;
        height: 550px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
       top: 530px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        width: 360px;
        height: 46px;
        top: 230px;
    }



    .widget_window.genes .level_one .welcome_part .welcome_content .block_button{
        width: 450px;
        height: 42px;
        bottom: 40px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .text{
	    font-size: 18px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .icon{
        width: 36px;
        height: 36px;
        left: 4px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .icon svg{
        width: 25px;
        height: 25px;
    }



    .widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen {
        width: 380px;
        height: 124px;
    }
    
    .widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen button {
        width: 181px;
        height: 124px;
    }
}


@media only screen and (max-width : 500px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
	    width: 500px;
        height: 350px;
        top: 300px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
        width: 160px;
        height: 37px;
        top: 500px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        width: 282px;
        height: 37px;
        top: 250px;
    }



    .widget_window.genes .level_one .welcome_part .welcome_content .block_button{
        width: 320px;
        height: 38px;
        bottom: 40px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .text{
	    font-size: 15px;
        margin-left: 4px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .icon{
        width: 33px;
        height: 33px;
        left: 4px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .icon svg{
        width: 25px;
        height: 25px;
    }



    .widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen {
        width: 338px;
        height: 110px;
    }
    
    .widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen button {
        width: 162px;
        height: 110px;
    }
}

@media only screen and (max-width : 500px) and (max-height : 770px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: 250px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
        top: 420px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        top: 230px;
    }
}

@media only screen and (max-width : 500px) and (max-height : 670px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: 200px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
        top: 370px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        top: 180px;
    }
}

@media only screen and (max-width : 500px) and (max-height : 580px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: 150px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
        top: 320px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        top: 130px;
    }
}


@media only screen and (max-width : 400px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
	    width: 400px;
        height: 260px;
        top: 350px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
        width: 140px;
        height: 32px;
        top: 470px;
        right: 10px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        width: 252px;
        height: 33px;
        top: 310px;
        left: 10px;
    }



    .widget_window.genes .level_one .welcome_part .welcome_content .block_button{
        width: 280px;
        height: 35px;
        bottom: 40px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .text{
	    font-size: 12px;
        margin-left: 4px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .icon{
        width: 30px;
        height: 30px;
        left: 4px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_button button .icon svg{
        width: 22px;
        height: 22px;
    }



    .widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen {
        width: 295px;
        height: 96px;
        bottom: 20px;
    }
    
    .widget_window.genes .level_one .welcome_part .welcome_content .block_select_gen button {
        width: 141px;
        height: 96px;
    }
}

@media only screen and (max-width : 400px) and (max-height : 850px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: 300px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
        top: 420px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        top: 255px;
    }
}

@media only screen and (max-width : 400px) and (max-height : 750px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: 250px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
        top: 370px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        top: 205px;
    }
}

@media only screen and (max-width : 400px) and (max-height : 650px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: 200px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
        top: 320px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        top: 155px;
    }



    .widget_window.genes .level_one .welcome_part .welcome_content .block_button{
        bottom: 20px;
    }
}

@media only screen and (max-width : 400px) and (max-height : 550px){
    .widget_window.genes .level_one .welcome_part .welcome_content .block_img_gen{
        top: 170px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(1){
        top: 290px;
    }

    .widget_window.genes .level_one .welcome_part .welcome_content .block_hints .block_hint:nth-child(2){
        top: 125px;
    }
}