.musei_widget .window .video-wrapper-3 .block_img{
	top: 0;
}

.musei_widget .window .video-wrapper-3 video {
	top: 0;
}

.musei_widget .window_3 .block_transitions{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.musei_widget .window_3 .block_transitions .block_transition{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	pointer-events: painted;
}


.musei_widget .window_3 .block_transitions .block_transition:nth-child(1){
	width: 485px;
	top: 0;
	left: 1000px;
}


.musei_widget .window_3 .block_transitions .block_transition button{
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
	width: 280px;
	height: 280px;
	background: linear-gradient(160deg, #4547bbd2 0%, #434db8b7 20%, #1e9b82c0 100%);
	border: 3px solid #2a2ca293;
	border-radius: 10px;
	backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
	position: absolute;
	cursor: pointer;

	opacity: 0;
	transition: all .5s ease;
}

.musei_widget .window_3 .block_transitions .block_transition button .icon{
	width: 95px;
	height: 89px;
}

.musei_widget .window_3 .block_transitions .block_transition button .text{
	width: 90%;
	font-size: 19px;
	font-family: "Benzin";
	font-weight: 400;
	text-align: center;
}

.musei_widget .window_3 .block_transitions .block_transition:hover button{
	opacity: 1;
}

.musei_widget .window_3 .block_transitions .block_transition:nth-child(1) button{
	width: 420px;
	height: 280px;
	top: 270px;
	right: 10px;
}



.musei_widget .window_3 .block_exhibits{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	pointer-events: none;
}

.musei_widget .window_3 .block_exhibits .block_exhibit{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: painted;
}


.musei_widget .window_3 .block_exhibits .block_exhibit:nth-child(1){
	width: 850px;
	top: 0;
	left: 0;
}

.musei_widget .window_3 .block_exhibits .block_exhibit:nth-child(2){
	width: 290px;
	top: 0;
	left: 1485px;
}


.musei_widget .window_3 .block_exhibits .block_exhibit button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 210px;
	height: 380px;
	/* background-color: rgb(0, 0, 0, .5); */
	position: absolute;
	cursor: pointer;

	/* opacity: 0; */
	transition: all .5s ease;
}

.musei_widget .window_3 .block_exhibits .block_exhibit:hover button{
	opacity: 1;
}

.musei_widget .window_3 .block_exhibits .block_exhibit:nth-child(1) button{
	width: 810px;
	height: 100%;
	top: 0;
	left: 0;
}

.musei_widget .window_3 .block_exhibits .block_exhibit:nth-child(2) button{
	width: 260px;
	height: 450px;
	top: 230px;
	left: 0;
}



.musei_widget .window_3 .pattern {
    width: 300px;
    height: 350px;
    position: absolute;
    top: 120px;
    left: 690px;
    z-index: 3;
}

.musei_widget .window_3 .pattern img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	/* opacity: 0.5; */
}