@media only screen and (max-width : 700px) and (max-height : 800px){
    .widget_window.fermenter .main_screen .block_main .block_biotechnologies .block_selection_biotechnologies .block_img {
        height: 120px;
        min-height: 120px;
    }

    .widget_window.fermenter .main_screen .block_main .block_biotechnologies .block_selection_biotechnologies .block_hint {
        display: none;
    }
}


@media only screen and (max-width : 550px){
    .widget_window.fermenter .main_screen .block_main .block_biotechnologies .block_info_biotechnology .content .block_info {
        padding: 0 20px;
        overflow: auto;
        scrollbar-width: thin;
    }
}

@media only screen and (max-width : 550px) and (max-height : 700px){
    .widget_window.fermenter .main_screen .block_main .block_biotechnologies .block_selection_biotechnologies .block_img {
        display: none;
    }
}


@media only screen and (max-width : 470px){
    .widget_window.fermenter .main_screen .block_main .block_biotechnologies .block_selection_biotechnologies .block_hint {
        display: none;
    }
}

@media only screen and (max-width : 470px) and (max-height : 730px){
    .widget_window.fermenter .main_screen .block_main .block_biotechnologies .block_selection_biotechnologies .block_img {
        display: flex;
    }
}


@media only screen and (max-width : 420px){
    .widget_window.fermenter .main_screen .block_main .block_biotechnologies .block_selection_biotechnologies .block_img {
        border-radius: 7px;
    }

    .widget_window.fermenter .main_screen .block_main .block_biotechnologies .block_selection_biotechnologies {
        padding: 20px 15px;
    }

    .widget_window.fermenter .main_screen .block_main .block_biotechnologies .block_selection_biotechnologies .block_selection .button_selection button {
        gap: 20px;
        height: 55px;
        padding: 0 10px;
    }

    .widget_window.fermenter .main_screen .block_main .block_biotechnologies .block_selection_biotechnologies .block_selection .button_selection button .text {
        font-size: 16px;
    }

    .widget_window.fermenter .main_screen .block_main .block_biotechnologies .block_selection_biotechnologies .block_selection .button_selection:nth-child(1)._active .block_info {
        height: 150px;
    }

    .widget_window.fermenter .main_screen .block_main .block_biotechnologies .block_selection_biotechnologies .block_selection .button_selection:nth-child(2)._active .block_info {
        height: 190px;
    }

    .widget_window.fermenter .main_screen .block_main .block_biotechnologies .block_selection_biotechnologies .block_selection .button_selection:nth-child(3)._active .block_info {
        height: 170px;
    }

    .widget_window.fermenter .main_screen .block_main .block_biotechnologies .block_selection_biotechnologies .block_selection .button_selection:nth-child(5)._active .block_info {
        height: 190px;
    }

    .widget_window.fermenter .main_screen .block_main .block_biotechnologies .block_selection_biotechnologies .block_selection .button_selection:nth-child(6)._active .block_info {
        height: 190px;
    }
}