@media only screen and (max-width : 1800px){
	.musei_widget .window .video-wrapper {
		width: 1800px;
		height: 1010px;
		min-height: 1010px;
	}



	.musei_widget .window .block_buttons_transition{
		width: 500px;
	}
	
	.musei_widget .window .block_buttons_transition button{
		font-size: 16px;
	}

	.musei_widget .window .block_tip p{
		font-size: 16px;
	}
}

@media only screen and (max-width : 1600px){
	.musei_widget .window .video-wrapper {
		width: 1600px;
		height: 900px;
		min-height: 900px;
		top: -100px;
	}


	.musei_widget .window .block_buttons_transition{
		width: 450px;
	}
	
	.musei_widget .window .block_buttons_transition button{
		font-size: 14px;
	}

	.musei_widget .window .block_tip p{
		font-size: 14px;
	}
}

@media only screen and (max-width : 1430px){
	.musei_widget .window .video-wrapper {
		width: 1430px;
		height: 810px;
		min-height: 810px;
		top: -50px;
	}
}

@media only screen and (max-width : 1300px){
	.musei_widget .window .video-wrapper {
		width: 1300px;
		height: 810px;
		min-height: 810px;
		top: -50px;
	}
}

@media only screen and (max-width : 1200px){
	.musei_widget .window .video-wrapper {
		width: 1200px;
		height: 700px;
		min-height: 700px;
		top: 0;
	}



	.musei_widget .window .block_buttons_transition{
		width: 400px;
	}
	
	.musei_widget .window .block_buttons_transition button{
		font-size: 13px;
	}

	.musei_widget .window .block_tip p{
		font-size: 13px;
	}
}



@media only screen and (min-width: 1801px) and (min-height: 950px){
	.musei_widget .window .video-wrapper {
		top: 0px;
	}
}

@media only screen and (min-width: 1801px) and (max-height: 750px){
	.musei_widget .window .video-wrapper {
		top: -200px;
	}
}

@media only screen and (min-width: 1801px) and (max-height: 700px){
	.musei_widget .window .video-wrapper {
		top: -250px;
	}
}

@media only screen and (min-width: 1801px) and (max-height: 650px){
	.musei_widget .window .video-wrapper {
		top: -300px;
	}
}



@media only screen and (min-width: 1601px) and (max-width: 1800px) and (min-height: 850px){
	.musei_widget .window .video-wrapper {
		top: 0px;
	}
}

@media only screen and (min-width: 1601px) and (max-width: 1800px) and (max-height: 700px){
	.musei_widget .window .video-wrapper {
		top: -250px;
	}
}



@media only screen and (min-width: 1431px) and (max-width: 1600px) and (min-height: 800px){
	.musei_widget .window .video-wrapper {
		top: 0px;
	}
}

@media only screen and (min-width: 1431px) and (max-width: 1600px) and (max-height: 700px){
	.musei_widget .window .video-wrapper {
		top: -150px;
	}
}



@media only screen and (min-width: 1301px) and (max-width: 1430px) and (min-height: 750px){
	.musei_widget .window .video-wrapper {
		top: 0px;
	}
}

@media only screen and (min-width: 1301px) and (max-width: 1430px) and (max-height: 600px){
	.musei_widget .window .video-wrapper {
		top: -130px;
	}
}



@media only screen and (min-width: 1201px) and (max-width: 1300px) and (min-height: 750px){
	.musei_widget .window .video-wrapper {
		top: 0px;
	}
}

@media only screen and (min-width: 1201px) and (max-width: 1300px) and (max-height: 600px){
	.musei_widget .window .video-wrapper {
		top: -130px;
	}
}



@media only screen and (min-width: 1101px) and (max-width: 1200px) and (min-height: 700px){
	.musei_widget .window .video-wrapper {
		height: 750px;
		min-height: 750px;
	}
}