.info_musei.main{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 1500px;
	padding: 120px 200px 0;
	margin-bottom: 80px;
	box-sizing: border-box;
}



.info_musei.main h1{
	width: 1000px;
	color: #E4E4FF;
	font-family: "Benzin";
	font-weight: 600;
	font-size: 64px;
	line-height: 90px;
	text-transform: uppercase;
	margin-bottom: 90px;
}


.info_musei.main .block_info_opening{
	display: flex;
	justify-content: center;
	width: 100%;
	height: fit-content;
	margin-bottom: 130px;
}

.info_musei.main .block_info_opening .content{
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	width: 1000px;
	height: 460px;
	padding: 25px 20px;
	box-sizing: border-box;
	background: url("/img/about_us/info_musei/frame_1.svg");
	background-repeat: no-repeat;
	background-size: contain;
}


.info_musei.main .block_info_opening .content h4{
	width: fit-content;
	color: #03AA49;
	font-size: 32px;
	font-family: "Benzin";
	font-weight: 600;
	text-transform: uppercase;
}


.info_musei.main .block_info_opening .content .block_text{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 689px;
}

.info_musei.main .block_info_opening .content .block_text p{
	width: 100%;
	color: #fff;
	font-size: 26px;
	font-family: "Raleway";
	font-weight: 400;
}

.info_musei.main .block_info_opening .content .block_text p span{
	color: #03D75C;
	font-weight: 600;
}



.info_musei.main .block_facts{
	display: flex;
	justify-content: center;
	width: 100%;
}

.info_musei.main .block_facts .container{
	display: flex;
	gap: 20px;
	width: 1350px;
}

.info_musei.main .block_facts .block_content{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 440px;
	padding: 20px;
	position: relative;
	box-sizing: border-box;
}

.info_musei.main .block_facts .block_content:nth-child(1){
	background: url("/img/about_us/info_musei/frame_2.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

/* .info_musei.main .block_facts .block_content:nth-child(2){
	background: url("/img/about_us/info_musei/frame_3.png");
	background-repeat: no-repeat;
	background-size: contain;
} */


.info_musei.main .block_facts .block_content .block_text{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 560px;
	margin-bottom: 30px;
}

.info_musei.main .block_facts .block_content .block_text p{
	width: 100%;
	color: #fff;
	font-size: 20px;
	font-family: "Raleway";
	font-weight: 400;
	line-height: 27px;
}

.info_musei.main .block_facts .block_content .block_text p:nth-child(2){
	width: 95%;
}

.info_musei.main .block_facts .block_content .block_text p span{
	display: inline;
	color: #03D75C;
	font-weight: 600;
}



.info_musei.main .block_button{
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
}

.info_musei.main .block_button .button_visit{
	width: 350px;
	height: 60px;
	background-color: rgba(25, 25, 51, 0.51);
	top: -20px;
	left: auto;
}

.info_musei.main .block_button .button_visit .text{
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

.info_musei.main .block_button .button_visit::before{
    background: linear-gradient(to right, rgba(69, 71, 187, 1), rgba(3, 215, 92, 1));
}

.info_musei.main .block_button .button_visit .bg::before{
    background: linear-gradient(to right, rgba(69, 71, 187, 1), rgba(3, 215, 92, 1));
}

.info_musei.main .block_button .button_visit .bg::after{
    background: 
        linear-gradient(white, white) padding-box,
        linear-gradient(to right, rgba(69, 71, 187, 1), rgba(3, 215, 92, 1)) border-box;
}





.info_musei.mobile{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 2200px;
	padding: 120px 40px 0;
	margin-bottom: 80px;
	box-sizing: border-box;
}



.info_musei.mobile h1{
	width: 1000px;
	color: #E4E4FF;
	font-family: "Benzin";
	font-weight: 600;
	font-size: 64px;
	line-height: 90px;
	text-transform: uppercase;
	margin-bottom: 90px;
}


.info_musei.mobile .block_info_opening{
	display: flex;
	justify-content: center;
	width: 100%;
	height: fit-content;
	margin-bottom: 30px;
}

.info_musei.mobile .block_info_opening .content{
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	width: 850px;
	height: 400px;
	padding: 25px 20px;
	box-sizing: border-box;
	background: url("/img/about_us/info_musei/frame_1.svg");
	background-repeat: no-repeat;
	background-size: contain;
}


.info_musei.mobile .block_info_opening .content h4{
	width: fit-content;
	color: #03AA49;
	font-size: 28px;
	font-family: "Benzin";
	font-weight: 600;
	text-transform: uppercase;
}


.info_musei.mobile .block_info_opening .content .block_text{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 670px;
}

.info_musei.mobile .block_info_opening .content .block_text p{
	width: 100%;
	color: #fff;
	font-size: 24px;
	font-family: "Raleway";
	font-weight: 400;
}

.info_musei.mobile .block_info_opening .content .block_text p span{
	color: #03D75C;
	font-weight: 600;
}



.info_musei.mobile .block_facts{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.info_musei.mobile .block_facts .container{
	display: flex;
	gap: 20px;
	width: 1350px;
}

.info_musei.mobile .block_facts .block_content{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 850px;
	height: 560px;
	padding: 20px;
	position: relative;
	box-sizing: border-box;
}

.info_musei.mobile .block_facts .block_content:nth-child(1){
	background: url("/img/about_us/info_musei/frame_2_mobile.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

/* .info_musei.mobile .block_facts .block_content:nth-child(2){
	background: url("/img/about_us/info_musei/frame_3_mobile.png");
	background-repeat: no-repeat;
	background-size: contain;
} */


.info_musei.mobile .block_facts .block_content .block_text{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 670px;
	margin-bottom: 30px;
}

.info_musei.mobile .block_facts .block_content .block_text p{
	width: 100%;
	color: #fff;
	font-size: 24px;
	font-family: "Raleway";
	font-weight: 400;
	line-height: 27px;
}

.info_musei.mobile .block_facts .block_content .block_text p:nth-child(2){
	width: 95%;
}

.info_musei.mobile .block_facts .block_content .block_text p span{
	display: inline;
	color: #03D75C;
	font-weight: 600;
}



.info_musei.mobile .block_button{
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
}

.info_musei.mobile .block_button .button_visit{
	width: 320px;
	height: 80px;
	background-color: rgba(25, 25, 51, 0.51);
	top: 100px;
	left: auto;
}

.info_musei.mobile .block_button .button_visit .text{
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
}

.info_musei.mobile .block_button .button_visit::before{
    background: linear-gradient(to right, rgba(69, 71, 187, 1), rgba(3, 215, 92, 1));
}

.info_musei.mobile .block_button .button_visit .bg::before{
    background: linear-gradient(to right, rgba(69, 71, 187, 1), rgba(3, 215, 92, 1));
}

.info_musei.mobile .block_button .button_visit .bg::after{
    background: 
        linear-gradient(white, white) padding-box,
        linear-gradient(to right, rgba(69, 71, 187, 1), rgba(3, 215, 92, 1)) border-box;
}