.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1250px;
	height: 280px;
	border: 1px solid #7B7756;
	border-bottom: none;
	border-radius: 30px 30px 0 0;
	background: linear-gradient(180deg, rgba(34, 74, 182, 0.5), rgba(0, 167, 251, 0.2));
	box-shadow: 0px 0 10px rgba(0, 0, 0, .3);
	position: absolute;
	bottom: 0;
	overflow: hidden;
}



.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_welcome{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;

	transition: all .5s ease;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_welcome._hide{
	top: -500px;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_welcome._hidden{
	top: 500px;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_welcome p{
	font-size: 48px;
	font-family: "Eimantas";
	font-weight: 700;
	line-height: 55px;
	text-align: center;
	text-transform: uppercase;
}



.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_complete_victory{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	width: 100%;
	height: 100%;
	padding: 0 100px;
	box-sizing: border-box;
	position: absolute;
	top: 0px;

	transition: all .5s ease;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_complete_victory._hide{
	top: -500px;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_complete_victory._hidden{
	top: 500px;
}


.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_complete_victory .block_icon{
	width: 250px;
	min-width: 250px;
	height: 250px;
	position: relative;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_complete_victory .block_icon .icon_container{
	width: 100%;
	height: 270px;
	position: absolute;
	top: 30px;
}


.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_complete_victory .block_text{
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: fit-content;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_complete_victory h1{
	font-size: 50px;
	font-family: "Eimantas";
	font-weight: 700;
	line-height: 40px;
	text-transform: uppercase
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_complete_victory p{
	font-size: 24px;
	font-family: "Eimantas";
	font-weight: 400;
	line-height: 25px;
}



.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 0 30px;
	box-sizing: border-box;
	position: absolute;
	top: 0px;

	transition: all .5s ease;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection._hide{
	top: -500px;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection._hidden{
	top: 500px;
}



.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .slide-container {
	width: 310px;
	height: 130px;
  	position: relative;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .slide-container::before {
	content: "";
	width: 42px;
	height: 145px;
	background: url("../../img/slider_img/icon_left.png");
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: -8px;
	left: -12px;
	z-index: 10;
	pointer-events: none;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .slide-container::after {
	content: "";
	width: 42px;
	height: 145px;
	background: url("../../img/slider_img/icon_right.png");
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: -8px;
	right: -12px;
	z-index: 10;
	pointer-events: none;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .slide-container .swiper{
	width: 100%;
	height: 100%;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .slide-swiper {
	overflow: hidden;
	border-radius: 15px;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .slide-swiper .swiper-wrapper {
  	height: 100%;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .slide-swiper .swiper-slide {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}



.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .slide{
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border: 1px solid #95B7F2;
	border-radius: 15px;
	background: linear-gradient(90deg, #5125D0, #361889);
	padding: 0 25px;
	box-sizing: border-box;
	position: relative;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .slide img{
	width: 73px;
	min-width: 73px;
	height: 73px;
	user-select: none;
	pointer-events: none;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .slide p{
	width: 100%;
	font-size: 16px;
	font-family: "Eimantas";
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	user-select: none;
	pointer-events: none;
}



.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_info{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 500px;
	height: 210px;
	border: 1px solid #69C0C8;
	border-radius: 15px;
	background: linear-gradient(90deg, #4952FF, #10E1FF);
	padding: 55px 15px 15px;
	box-sizing: border-box;
	position: relative;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_info p{
	width: fit-content;
	font-size: 16px;
	font-family: "Eimantas";
	font-weight: 500;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_info img{
	width: 115px;
	min-width: 115px;
	height: 115px;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_info .icon{
	width: 70px;
	height: 45px;
	background: url("../../img/icon_about_bacteria.png");
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 10px;
	left: -5px;
	transform: scaleX(-1);
}



.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_confirmations{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 500px;
	height: 210px;
	border: 1px solid #68C1C8;
	border-radius: 15px;
	background: linear-gradient(90deg, #4952FF, #0FE4FF);
	padding: 15px;
	box-sizing: border-box;
	position: relative;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_confirmations h4{
	width: fit-content;
	font-size: 22px;
	font-family: "Eimantas";
	font-weight: 700;
	text-transform: uppercase;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_confirmations button{
	display: flex;
	justify-content: right;
	align-items: center;
	width: 90px;
	height: 40px;
	border: 1px solid #42BBB6;
	border-radius: 30px;
	background: linear-gradient(90deg, rgba(42, 238, 117, 1), rgba(42, 238, 117, .1) 80%);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
	padding: 0 18px;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;

	transition: all .2s ease;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_confirmations button:active{
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_confirmations button .icon{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: linear-gradient(90deg, #35F78B, #2FBCB7);
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	position: absolute;
	left: 3px;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_confirmations button .icon svg{
	width: 17px;
	height: 17px;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_confirmations button .text{
	font-size: 13px;
	font-family: "Eimantas";
	font-weight: 500;
	text-transform: uppercase;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_confirmations p{
	width: 300px;
	font-size: 12px;
	font-family: "Eimantas";
	font-weight: 500;
	position: absolute;
	bottom: 15px;
}



.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_result{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	width: 500px;
	height: 210px;
	border: 1px solid #68C1C8;
	border-radius: 15px;
	background: linear-gradient(90deg, #4952FF, #0FE4FF);
	padding: 15px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_result.lost{
	background: linear-gradient(90deg, #EB2644, #B20D56);
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_result.victory{
	background: linear-gradient(90deg, #0984DB, #2BE78A);
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_result::before{
	content: "";
	width: 140px;
	height: 140px;
	position: absolute;
	top: 0;
	right: 0;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_result.lost::before{
	background: url("../../img/icon_lost.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_result.victory::before{
	background: url("../../img/icon_victory.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_result h4{
	width: fit-content;
	font-size: 22px;
	font-family: "Eimantas";
	font-weight: 700;
	text-transform: uppercase;
}

.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .block_result p{
	width: 350px;
	font-size: 16px;
	font-family: "Eimantas";
	font-weight: 500;
}



.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium .down_part .block_selection .center_block{
	transition: opacity 0.3s ease;
}