.popup_bioengineer_blocked {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;

    animation: popupFadeIn 0.3s ease forwards;
}

.popup_bioengineer_blocked._hidden {
    animation: popupFadeOut 0.3s ease forwards;
}

@keyframes popupFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes popupFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.popup_bioengineer_blocked .popup_blackout {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.popup_bioengineer_blocked .popup_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 600px;
    border: 4px solid #4547bb8e;
    border-radius: 20px;
    background-color: #191933;
    padding: 0 50px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 2;
    cursor: default;
}

.popup_bioengineer_blocked .popup_content .block_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.popup_bioengineer_blocked .popup_content .block_img::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.popup_bioengineer_blocked .popup_content .block_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    position: relative;
    z-index: 3;
}

.popup_bioengineer_blocked .popup_content .block_content .block_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.popup_bioengineer_blocked .popup_content .block_content .block_text h1 {
    width: fit-content;
    color: #fff;
    font-size: 30px;
    font-family: 'Benzin';
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
}

.popup_bioengineer_blocked .popup_content .block_content .close_button {
    padding: 15px 40px;
    background-color: #4547bb;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Benzin';
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.popup_bioengineer_blocked .popup_content .block_content .close_button:hover {
    background-color: #5a5cd4;
    transform: scale(1.05);
}