@media only screen and (max-height : 750px){
    .widget_window.fermenter .main_screen .block_main{
        width: 550px;
        height: 600px;
    }
}



@media only screen and (max-width : 1100px){
    .widget_window.fermenter .main_screen .menu_left{
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        width: 100%;
        height: 130px;
        border-radius: 0;
        padding: 0;
        bottom: 0;
    }

    .widget_window.fermenter .main_screen .menu_left button{
	    width: 140px;
    }

    .widget_window.fermenter .main_screen .menu_left button:last-child{
        margin-top: 0px;
    }

    .widget_window.fermenter .main_screen .menu_left button .text{
	    font-size: 14px;
    }



    .widget_window.fermenter .main_screen .block_main {
        margin-bottom: 50px;
    }
}


@media only screen and (max-width : 800px){
    .widget_window.fermenter .main_screen .menu_left{
        gap: 20px;
    }


    .widget_window.fermenter .main_screen .block_main {
        margin-bottom: 70px;
    }
}

@media only screen and (max-width : 800px) and (max-height : 1000px){
    .widget_window.fermenter .main_screen .block_main{
        width: 550px;
        height: 600px;
    }
}

@media only screen and (max-width : 800px) and (max-height : 840px){
    .widget_window.fermenter .main_screen .block_main{
        margin-bottom: 100px;
    }
}


@media only screen and (max-width : 700px){
    .widget_window.fermenter .main_screen .menu_left button{
	    width: 120px;
    }

    .widget_window.fermenter .main_screen .menu_left button .text{
	    font-size: 12px;
    }



    .widget_window.fermenter .main_screen .block_main{
        width: 500px;
        height: 600px;
    }
}

@media only screen and (max-width : 700px) and (max-height : 800px){
    .widget_window.fermenter .main_screen .block_main{
        width: 500px;
        height: 500px;
    }
}


@media only screen and (max-width : 550px){
    .widget_window.fermenter .main_screen .menu_left{
        gap: 10px;
    }

    .widget_window.fermenter .main_screen .menu_left button{
	    width: 100px;
    }
    

    .widget_window.fermenter .main_screen .menu_left button .icon {
        width: 65px;
        height: 65px;
    }

    .widget_window.fermenter .main_screen .menu_left button .icon svg {
        width: 30px;
        height: 30px;
    }


    .widget_window.fermenter .main_screen .menu_left button .text{
	    font-size: 10px;
    }



    .widget_window.fermenter .main_screen .block_main{
        width: 450px;
        height: 600px;
    }

    .widget_window.fermenter .main_screen .block_main .block_header {
        padding: 20px 15px;
    }

    .widget_window.fermenter .main_screen .block_main .block_header .icon_right {
        display: none;
    }
}

@media only screen and (max-width : 550px) and (max-height : 800px){
    .widget_window.fermenter .main_screen .block_main{
        width: 450px;
        height: 500px;
    }
}

@media only screen and (max-width : 550px) and (max-height : 700px){
    .widget_window.fermenter .main_screen .block_main{
        width: 450px;
        height: 450px;
    }
}

@media only screen and (max-width : 550px) and (max-height : 650px){
    .widget_window.fermenter .main_screen .block_main {
        margin-bottom: 120px;
    }
}


@media only screen and (max-width : 470px){
    .widget_window.fermenter .main_screen .menu_left{
        gap: 7px;
    }

    .widget_window.fermenter .main_screen .menu_left button{
	    width: 95px;
    }
    

    .widget_window.fermenter .main_screen .menu_left button .icon {
        width: 55px;
        height: 55px;
        border-radius: 7px;
    }

    .widget_window.fermenter .main_screen .menu_left button .icon svg {
        width: 25px;
        height: 25px;
    }


    .widget_window.fermenter .main_screen .menu_left button .text{
	    font-size: 10px;
    }



    .widget_window.fermenter .main_screen .block_main{
        width: 400px;
        height: 550px;
        border-radius: 10px;
    }

    .widget_window.fermenter .main_screen .block_main .block_header {
        padding: 15px 10px;
    }

    .widget_window.fermenter .main_screen .block_main .block_header h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width : 470px) and (max-height : 730px){
    .widget_window.fermenter .main_screen .menu_left{
        height: 100px;
    }



    .widget_window.fermenter .main_screen .block_main{
        width: 400px;
        height: 480px;
        margin-bottom: 80px;
    }

    .widget_window.fermenter .main_screen .block_main .block_header {
        padding: 15px 10px;
    }

    .widget_window.fermenter .main_screen .block_main .block_header h2 {
        font-size: 24px;
    }
}


@media only screen and (max-width : 420px){
    .widget_window.fermenter .main_screen .menu_left{
        gap: 7px;
        height: 110px;
    }

    .widget_window.fermenter .main_screen .menu_left button{
	    width: 80px;
    }
    

    .widget_window.fermenter .main_screen .menu_left button .icon {
        width: 50px;
        height: 50px;
        border-radius: 7px;
    }

    .widget_window.fermenter .main_screen .menu_left button .icon svg {
        width: 25px;
        height: 25px;
    }


    .widget_window.fermenter .main_screen .menu_left button .text{
	    font-size: 8px;
    }



    .widget_window.fermenter .main_screen .block_main{
        width: 360px;
        height: 550px;
        border-radius: 10px;
    }

    .widget_window.fermenter .main_screen .block_main .block_header {
        padding: 15px 10px;
    }

    .widget_window.fermenter .main_screen .block_main .block_header h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width : 420px) and (max-height : 730px){
    .widget_window.fermenter .main_screen .menu_left{
        height: 90px;
    }



    .widget_window.fermenter .main_screen .block_main{
        width: 360px;
        height: 480px;
        border-radius: 10px;
    }

    .widget_window.fermenter .main_screen .block_main .block_header {
        padding: 15px 10px;
    }

    .widget_window.fermenter .main_screen .block_main .block_header h2 {
        font-size: 24px;
    }
}