.widget_window.zaa_restoration .welcome_window{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	/* background: url("../../img/bg.png"); */
	background-color: #000;
	/* background-repeat: no-repeat;
	background-size: cover; */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	transition: all 1s ease;
}

.widget_window.zaa_restoration .welcome_window._hidden{
	opacity: 0;
}



.widget_window.zaa_restoration .welcome_window .block_img_bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}



.widget_window.zaa_restoration .welcome_window .info{
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	width: 800px;
	position: relative;
	z-index: 2;
}


.widget_window.zaa_restoration .welcome_window .info h1{
	width: 80%;
	font-size: 34px;
	font-family: "Grandis";
	font-weight: 700;
	text-align: center;
}


.widget_window.zaa_restoration .welcome_window .info p{
	font-size: 20px;
	font-family: "Grandis";
	font-weight: 400;
	text-align: center;
}


.widget_window.zaa_restoration .welcome_window .info .block_button{
	height: 0;
	overflow: hidden;
	transition: all .7s ease;
}

.widget_window.zaa_restoration .welcome_window._active .info .block_button{
	height: fit-content;
}

.widget_window.zaa_restoration .welcome_window .info .block_button button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 40px;
	font-size: 20px;
	font-family: "Grandis";
	font-weight: 400;
	border-radius: 10px;
	background: linear-gradient(90deg, rgba(46, 114, 96, 0.89), rgba(71, 82, 112, 0.89));
	cursor: pointer;

	opacity: 0;
	transform: scale(0.9);
	transition: all .5s ease .7s;
}

.widget_window.zaa_restoration .welcome_window._active .info .block_button button{
	opacity: 1;
	transform: scale(1);
}

.widget_window.zaa_restoration .welcome_window .info .block_button button:hover{

}