@media only screen and (max-width : 1100px){
	.widget_window.zaa_restoration .welcome_window .info {
		width: 840px;
		gap: 25px;
	}


	.widget_window.zaa_restoration .welcome_window .info h1 {
		width: 610px;
		font-size: 42px;
	}

	.widget_window.zaa_restoration .welcome_window .info p {
    	font-size: 24px;
	}


	.widget_window.zaa_restoration .welcome_window .info .block_button button{
		width: 280px;
		height: 55px;
		font-size: 28px;
	}
}

@media only screen and (max-width : 900px){
	.widget_window.zaa_restoration .welcome_window .info {
		width: 700px;
	}
}

@media only screen and (max-width : 760px){
	.widget_window.zaa_restoration .welcome_window .info {
		width: 580px;
		gap: 20px;
	}


	.widget_window.zaa_restoration .welcome_window .info h1 {
		width: 570px;
		font-size: 38px;
	}

	.widget_window.zaa_restoration .welcome_window .info p {
    	font-size: 20px;
	}


	.widget_window.zaa_restoration .welcome_window .info .block_button button{
		width: 250px;
		height: 50px;
		font-size: 26px;
	}
}

@media only screen and (max-width : 650px){
	.widget_window.zaa_restoration .welcome_window .info {
		width: 500px;
		gap: 20px;
	}


	.widget_window.zaa_restoration .welcome_window .info h1 {
		width: 490px;
		font-size: 32px;
	}

	.widget_window.zaa_restoration .welcome_window .info p {
    	font-size: 18px;
	}


	.widget_window.zaa_restoration .welcome_window .info .block_button button{
		width: 230px;
		height: 45px;
		font-size: 24px;
	}
}

@media only screen and (max-width : 600px){
	.widget_window.zaa_restoration .welcome_window .info {
		width: 430px;
		gap: 20px;
	}


	.widget_window.zaa_restoration .welcome_window .info h1 {
		width: 400px;
		font-size: 26px;
	}

	.widget_window.zaa_restoration .welcome_window .info p {
    	font-size: 16px;
	}


	.widget_window.zaa_restoration .welcome_window .info .block_button button{
		width: 210px;
		height: 40px;
		font-size: 22px;
	}
}

@media only screen and (max-width : 430px){
	.widget_window.zaa_restoration .welcome_window .info {
		width: 360px;
		gap: 20px;
	}


	.widget_window.zaa_restoration .welcome_window .info h1 {
		width: 360px;
		font-size: 24px;
	}

	.widget_window.zaa_restoration .welcome_window .info p {
    	font-size: 14px;
	}


	.widget_window.zaa_restoration .welcome_window .info .block_button button{
		width: 210px;
		height: 40px;
		font-size: 22px;
	}
}

@media only screen and (max-width : 400px){
	.widget_window.zaa_restoration .welcome_window .info {
		width: 330px;
		gap: 20px;
	}


	.widget_window.zaa_restoration .welcome_window .info h1 {
		width: 330px;
		font-size: 22px;
	}

	.widget_window.zaa_restoration .welcome_window .info p {
    	font-size: 13px;
	}


	.widget_window.zaa_restoration .welcome_window .info .block_button button{
		width: 170px;
		height: 35px;
		font-size: 18px;
	}
}