@media only screen and (max-height : 750px){
    .widget_window.fermenter .main_screen .block_main .block_partition .block_list_live_system{
	    height: 470px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system{
	    height: 470px;
    }
}


@media only screen and (max-width : 800px) and (max-height : 1000px){
    .widget_window.fermenter .main_screen .block_main .block_partition .block_list_live_system{
	    height: 470px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system{
	    height: 470px;
    }
}


@media only screen and (max-width : 700px){
    .widget_window.fermenter .main_screen .block_main .block_partition .block_list_live_system{
	    height: 470px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system{
	    height: 470px;
    }

    
    .widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_info .text{
        height: 150px;
        max-height: 150px;
    }
}

@media only screen and (max-width : 700px) and (max-height : 800px){
    .widget_window.fermenter .main_screen .block_main .block_partition .block_list_live_system{
	    height: 370px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system{
	    height: 370px;
    }

    
    .widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_img {
        display: none;
    }

    .widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_info .text{
        height: 150px;
        max-height: 150px;
    }
}


@media only screen and (max-width : 550px){
    .widget_window.fermenter .main_screen .block_main .block_partition .block_list_live_system {
        height: 500px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_info .text{
        height: 180px;
        max-height: 180px;
    }
}

@media only screen and (max-width : 550px) and (max-height : 800px){
    .widget_window.fermenter .main_screen .block_main .block_partition .block_list_live_system {
        height: 400px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_info .text{
        height: 220px;
        max-height: 220px;
    }
}

@media only screen and (max-width : 550px) and (max-height : 700px){    
    .widget_window.fermenter .main_screen .block_main .block_partition .block_list_live_system {
        height: 350px;
    }


    .widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system {
        height: 350px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_info .text{
        height: 170px;
        max-height: 170px;
    }
}


@media only screen and (max-width : 470px){
    .widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_info {
        padding: 10px 15px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_info h2 {
        height: 53px;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_info .text{
        height: 150px;
        max-height: 150px;
    }
}

@media only screen and (max-width : 470px) and (max-height : 730px){
    .widget_window.fermenter .main_screen .block_main .block_partition .block_list_live_system {
        height: 390px;
    }


    .widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system {
        height: 390px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_info .text{
        height: 210px;
        max-height: 210px;
    }
}