.widget_window.fermenter .main_screen .block_main .block_partition{
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: left;
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0;
    left: 0;
    
    transition: all .5s ease;
}

.widget_window.fermenter .main_screen .block_main .block_partition._hidden{
    opacity: 0;
    pointer-events: none;
}



.widget_window.fermenter .main_screen .block_main .block_partition .block_list_live_system{
	display: flex;
    flex-direction: column;
	align-items: center;
    gap: 10px;
	width: 100%;
	height: 580px;
    padding: 0 20px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    cursor: pointer;

    transition: all .5s ease;
}

.widget_window.fermenter .main_screen .block_main .block_partition .block_list_live_system._hidden{
    opacity: 0;
    pointer-events: none;
}

.widget_window.fermenter .main_screen .block_main .block_partition .block_list_live_system .block_live_system{
    display: flex;
    width: 100%;
    height: 100px;
    min-height: 150px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

/* .widget_window.fermenter .main_screen .block_main .block_partition .block_list_live_system .block_live_system img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.widget_window.fermenter .main_screen .block_main .block_partition .block_list_live_system .block_live_system p{
    font-size: 12px;
	font-family: "Eimantas";
	font-weight: 500;
	text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
}



.widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system{
	display: flex;
    flex-direction: column;
	align-items: center;
    gap: 20px;
	width: 100%;
	height: 580px;
    padding: 0 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;

    transition: all .5s ease;
}

.widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system._hidden{
    opacity: 0;
    pointer-events: none;
}


.widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_img{
    width: 100%;
    height: 120px;
    min-height: 120px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

/* .widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */


.widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #186ABC;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_info::before{
    content: "";
    width: 3px;
    height: calc(100% - 20px - 75px);
    background-color: #AEE549;
    position: absolute;
    top: 75px;
    left: 0;
}

.widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_info h2{
    font-size: 24px;
	font-family: "Eimantas";
	font-weight: 700;
	text-transform: uppercase;
    margin-bottom: 30px;
}

.widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_info .text{
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
}

.widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_info .text p{
    font-size: 16px;
	font-family: "Eimantas";
	font-weight: 500;
}



.widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_hint{
	display: flex;
	gap: 20px;
	align-items: center;
	width: 100%;
	height: 70px;
	min-height: 60px;
	border-radius: 7px;
	background-color: #43779e;
	padding: 0 20px;
	box-sizing: border-box;
}


.widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_hint .icon{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #1060b058;
    transform: rotate(-45deg);
}

.widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_hint .icon svg{
    width: 16px;
}

.widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_hint .icon svg path{
    fill: #4ccb81;
}

.widget_window.fermenter .main_screen .block_main .block_partition .block_info_live_system .block_hint p{
	font-size: 14px;
	font-family: "Eimantas";
	font-weight: 700;
	text-transform: uppercase;
}