@media only screen and (max-width : 1800px){
	.musei_widget .window_2 .block_transitions .block_transition:nth-child(1){
		left: 550px;
	}

	.musei_widget .window_2 .block_exhibits .block_exhibit:nth-child(1){
		left: 1035px;
	}
}

@media only screen and (max-width : 1600px){
	.musei_widget .window_2 .block_transitions .block_transition:nth-child(1){
		width: 425px;
		left: 490px;
	}

	.musei_widget .window_2 .block_transitions .block_transition:nth-child(1) button{
		width: 420px;
		height: 300px;
		top: 200px;
	}


	.musei_widget .window_2 .block_exhibits .block_exhibit:nth-child(1){
		width: 550px;
		left: 915px;
	}
}

@media only screen and (max-width : 1430px){
	.musei_widget .window_2 .block_transitions .block_transition:nth-child(1){
		width: 375px;
		left: 460px;
	}

	.musei_widget .window_2 .block_transitions .block_transition:nth-child(1) button{
		width: 370px;
		height: 280px;
		top: 160px;
	}


	.musei_widget .window_2 .block_exhibits .block_exhibit:nth-child(1){
		width: 490px;
		left: 835px;
	}
}

@media only screen and (max-width : 1300px){
	.musei_widget .window_2 .block_transitions .block_transition:nth-child(1){
		width: 355px;
		left: 410px;
	}

	.musei_widget .window_2 .block_transitions .block_transition:nth-child(1) button{
		width: 350px;
		height: 260px;
	}


	.musei_widget .window_2 .block_transitions .block_transition button .icon{
		width: 90px;
		height: 82px;
	}

	.musei_widget .window_2 .block_transitions .block_transition button .text{
		font-size: 16px;
	}



	.musei_widget .window_2 .block_exhibits .block_exhibit:nth-child(1){
		width: 480px;
		left: 765px;
	}
}

@media only screen and (max-width : 1200px){
	.musei_widget .window_2 .block_transitions .block_transition:nth-child(1){
		width: 325px;
		left: 370px;
	}

	.musei_widget .window_2 .block_transitions .block_transition:nth-child(1) button{
		width: 320px;
		height: 240px;
	}


	.musei_widget .window_2 .block_exhibits .block_exhibit:nth-child(1){
		width: 420px;
		left: 695px;
	}
}



@media only screen and (min-width: 1801px) and (max-height: 750px){
	.musei_widget .window .video-wrapper-2 {
		top: -100px;
	}
}

@media only screen and (min-width: 1801px) and (max-height: 700px){
	.musei_widget .window .video-wrapper-2 {
		top: -140px;
	}

	.musei_widget .window_2 .block_transitions .block_transition:nth-child(1) button {
		top: 200px;
	}
}



@media only screen and (min-width: 1601px) and (max-width: 1800px) and (max-height: 700px){
	.musei_widget .window .video-wrapper-2 {
		top: -100px;
	}

	.musei_widget .window_2 .block_transitions .block_transition:nth-child(1) button{
		top: 200px;
	}
}



@media only screen and (min-width: 1431px) and (max-width: 1600px) and (max-height: 650px){
	.musei_widget .window .video-wrapper-2 {
		top: -100px;
	}

	.musei_widget .window_2 .block_transitions .block_transition:nth-child(1) button{
		top: 170px;
	}
}



@media only screen and (min-width: 1301px) and (max-width: 1430px) and (max-height: 550px){
	.musei_widget .window .video-wrapper-2 {
		top: -100px;
	}

	.musei_widget .window_2 .block_transitions .block_transition:nth-child(1) button{
		top: 120px;
	}
}



@media only screen and (min-width: 1201px) and (max-width: 1300px) and (max-height: 500px){
	.musei_widget .window .video-wrapper-2 {
		top: -100px;
	}

	.musei_widget .window_2 .block_transitions .block_transition:nth-child(1) button{
		top: 120px;
	}
}