.widget_window.bacteria_guard_ecology .main_screen{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	transition: all .7s ease;
}

.widget_window.bacteria_guard_ecology .main_screen._hidden{
	opacity: 0;
}



.widget_window.bacteria_guard_ecology .main_screen .block_bg{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2000px;
	height: 1100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}


.widget_window.bacteria_guard_ecology .main_screen .block_bg .bg_illustration{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}


.widget_window.bacteria_guard_ecology .main_screen .block_bg .musur_illustrations{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.widget_window.bacteria_guard_ecology .main_screen .block_bg .musur_illustrations .musor_illustration{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	transition: all .3s ease;
}

.widget_window.bacteria_guard_ecology .main_screen .block_bg .musur_illustrations .musor_illustration._victory{
	opacity: 0;
	animation: victoryFlash 0.7s ease-in-out forwards;

	transition-delay: 0.7s;
}

@keyframes victoryFlash {
	0% {
		filter: brightness(1) contrast(1);
	}
	100% {
		filter: brightness(3) contrast(2) saturate(2);
	}
}



.widget_window.bacteria_guard_ecology .main_screen .choosing_bacterium{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}