.musei_widget .window .video-wrapper-4 .block_img{
	top: 0;
}

.musei_widget .window .video-wrapper-4 video {
	top: 0;
}

.musei_widget .window_4 .block_exhibits{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	pointer-events: none;
}

.musei_widget .window_4 .block_exhibits .block_exhibit{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: painted;
	/* background-color: rgb(0, 0, 0, .5); */
}


.musei_widget .window_4 .block_exhibits .block_exhibit:nth-child(1){
	width: 500px;
	top: 0;
	left: 0;
}

.musei_widget .window_4 .block_exhibits .block_exhibit:nth-child(2){
	width: 400px;
	top: 0;
	left: 900px;
}

.musei_widget .window_4 .block_exhibits .block_exhibit:nth-child(3){
	width: 400px;
	top: 0;
	left: 1600px;
}


.musei_widget .window_4 .block_exhibits .block_exhibit button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 210px;
	height: 380px;
	/* background-color: rgb(0, 0, 0, .5); */
	position: absolute;
	cursor: pointer;

	/* opacity: 0; */
	transition: all .5s ease;
}

.musei_widget .window_4 .block_exhibits .block_exhibit:hover button{
	opacity: 1;
}

.musei_widget .window_4 .block_exhibits .block_exhibit:nth-child(1) button{
	width: 450px;
	height: 780px;
	top: 120px;
	left: 0;
}

.musei_widget .window_4 .block_exhibits .block_exhibit:nth-child(2) button{
	width: 380px;
	height: 350px;
	top: 320px;
	left: 0px;
}

.musei_widget .window_4 .block_exhibits .block_exhibit:nth-child(3) button{
	width: 425px;
	height: 270px;
	top: 375px;
	right: 0;
}